//
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #828273;
    font-size: 12px;
    color: #000000;
    font-family: "Tahoma", serif;
}

input, button, select, tr {
    font-family: "Tahoma", serif;
    font-size: 12px;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        color: #fff;
    }
}

header {
    background: #0ff;
    height: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .navigation {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .link {
            margin-top: 3px;
            font-size: 16px;
            font-weight: bold;
        }

        .divider {
            font-size: 16px;
            display: block;
            padding: 3px 5px;
        }
    }
}

.cell {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: #AAAAAA;
    border-color: #CCCCCC #666666 #666666 #CCCCCC;
    border-style: solid;
    border-width: 2px;

    &.with-margin {
        margin-bottom: 20px;
    }

    &.with-margin-top {
        margin-top: 20px;
    }

    p:not(.title) {
        margin: 4px;
    }

}

.right {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.title {
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    background-color: #0099CC;
    border-color: #007799 #00BBEE #00BBEE #007799;
    border-style: solid;
    border-width: 2px;

    &.secondary {
        background-color: #999999;
        border-color: #CCCCCC #666666 #666666 #CCCCCC;
    }
    
    &.error {
        background-color: #c00000;
        border-color: #CCCCCC #666666 #666666 #CCCCCC;
    }
}

main {
    margin: 30px 4vw;
}

.label {
    font-size: 12px;
    font-weight: bold;
    width: 150px;
}

.error {
    background: #c00000;
    color: #fff;
}

.button {
    display: inline-block;
    font-weight: bold;
    color: #000000;
    background-color: #CCCCCC;
    border-color: #FFFFFF #666666 #666666 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    padding: 2px 4px;
    outline: 1px solid black;
    margin: 2px;

    &.full {
        display: block;
    }

    &:disabled {
        opacity: 0.5;
    }

    &:hover, &:focus {
        color: #fff;
    }
}

.footer {

    .beta-label {
        color: #c00000;
    }

    margin-top: 30px; 
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.header {
    font-size: 16px;
    font-weight: bold;
}

.input {
    background: #09c;
    color: #fff;
    font-size: 12px;
    font-family: serif;
    border: 1px solid;
    border-color: #CCCCCC #666666 #666666 #CCCCCC;
    font-weight: bold;
}

.code {
    background: #989889;
    color: #000;
    padding: 10px;
    margin: 4px 2px;
}

.monospace {
    font-family: monospace;
    font-weight: bold;
}

.info {
    margin: 4px;
    padding: 10px;
    font-size: 14px;
    border-color: #CCCCCC #666666 #666666 #CCCCCC;
    background: #dd0;
    color: #000;
}

.deadline {
    color: #994040;
}

.inline {
    display: inline-block;
}

.rating {
    width: 80px;
    height: 5px;
    display: inline-flex;
    background: #ddd;
    margin: 0 5px;

    .positive {
        background: #80c000;
        height: 5px;
    }

    .negative {
        background: #C04000;
        height: 5px;
    }
}

.feedback-bar {
    width: 100%;
    height: 10px;
    background: #ddd;
    display: flex;

    .positive {
        background: #80c000;
        height: 10px;
    }

    .negative {
        background: #C04000;
        height: 10px;
    }
}

.bonus {
    background: #c0c000;
}