* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #828273;
  font-size: 12px;
  color: #000000;
  font-family: "Tahoma", serif;
}

input,
button,
select,
tr {
  font-family: "Tahoma", serif;
  font-size: 12px;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #fff;
}

header {
  background: #0ff;
  height: 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

header .navigation {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -webkit-box-align: center;
          align-items: center;
}

header .navigation .link {
  margin-top: 3px;
  font-size: 16px;
  font-weight: bold;
}

header .navigation .divider {
  font-size: 16px;
  display: block;
  padding: 3px 5px;
}

.cell {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
          justify-content: flex-start;
  background-color: #AAAAAA;
  border-color: #CCCCCC #666666 #666666 #CCCCCC;
  border-style: solid;
  border-width: 2px;
}

.cell.with-margin {
  margin-bottom: 20px;
}

.cell.with-margin-top {
  margin-top: 20px;
}

.cell p:not(.title) {
  margin: 4px;
}

.right {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.title {
  padding: 2px;
  font-size: 16px;
  font-weight: bold;
  background-color: #0099CC;
  border-color: #007799 #00BBEE #00BBEE #007799;
  border-style: solid;
  border-width: 2px;
}

.title.secondary {
  background-color: #999999;
  border-color: #CCCCCC #666666 #666666 #CCCCCC;
}

.title.error {
  background-color: #c00000;
  border-color: #CCCCCC #666666 #666666 #CCCCCC;
}

main {
  margin: 30px 4vw;
}

.label {
  font-size: 12px;
  font-weight: bold;
  width: 150px;
}

.error {
  background: #c00000;
  color: #fff;
}

.button {
  display: inline-block;
  font-weight: bold;
  color: #000000;
  background-color: #CCCCCC;
  border-color: #FFFFFF #666666 #666666 #FFFFFF;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  padding: 2px 4px;
  outline: 1px solid black;
  margin: 2px;
}

.button.full {
  display: block;
}

.button:disabled {
  opacity: 0.5;
}

.button:hover,
.button:focus {
  color: #fff;
}

.footer {
  margin-top: 30px;
}

.footer .beta-label {
  color: #c00000;
}

.row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.header {
  font-size: 16px;
  font-weight: bold;
}

.input {
  background: #09c;
  color: #fff;
  font-size: 12px;
  font-family: serif;
  border: 1px solid;
  border-color: #CCCCCC #666666 #666666 #CCCCCC;
  font-weight: bold;
}

.code {
  background: #989889;
  color: #000;
  padding: 10px;
  margin: 4px 2px;
}

.monospace {
  font-family: monospace;
  font-weight: bold;
}

.info {
  margin: 4px;
  padding: 10px;
  font-size: 14px;
  border-color: #CCCCCC #666666 #666666 #CCCCCC;
  background: #dd0;
  color: #000;
}

.deadline {
  color: #994040;
}

.inline {
  display: inline-block;
}

.rating {
  width: 80px;
  height: 5px;
  display: -webkit-inline-box;
  display: inline-flex;
  background: #ddd;
  margin: 0 5px;
}

.rating .positive {
  background: #80c000;
  height: 5px;
}

.rating .negative {
  background: #C04000;
  height: 5px;
}

.feedback-bar {
  width: 100%;
  height: 10px;
  background: #ddd;
  display: -webkit-box;
  display: flex;
}

.feedback-bar .positive {
  background: #80c000;
  height: 10px;
}

.feedback-bar .negative {
  background: #C04000;
  height: 10px;
}

.bonus {
  background: #c0c000;
}

